style.css
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color:#f8f9fa;
    color: #333;
    padding: 10;
    margin: 10;
    margin: auto;
    max-width: 1200px;
}

h1 {
    color: #004085;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.0em;
    margin: 20px 0;
    border-bottom: 3px solid #cce7ff;
    padding-bottom: 10px;
}

h4{color: #6c757d;
	text-align: left;
	font-style: italic;
	font-size: 1.5em;
	font-weight: bold;

}

p{font-size: 1.1em;
	margin: 15px 0;
	text-align: justify;

}
img {
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: block;
}

